.react-aria-ToggleButtonGroup {
  display: flex;
  align-items: center;

  .react-aria-ToggleButton {
    padding: 0.5rem 1rem;

    border: 1px solid white;

    font-weight: 500;

    transition: background-color 0.3s ease;

    &:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &:hover {
      background-color: hsl(var(--point-color));
    }

    &[data-selected] {
      background-color: hsl(var(--point-color));
    }
  }
}
