.react-datepicker {
  font-family: "Pretendard", sans-serif;

  border-radius: 1rem;
  border: 1px solid white;

  &__input-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: black;

    input {
      padding: 0.5rem 2rem;
      border-radius: 0.8rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    padding: 1rem;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    color: black;
  }

  &__day-names {
    margin: 0.4rem;
    padding: 1rem 1rem 0;
  }

  &__day-name {
    width: 2rem;
    height: 2rem;
  }

  &__month {
    padding: 0 1rem 1rem;
  }

  &__day {
    width: 2rem;
    height: 2rem;

    border-radius: 0.5rem;
    transition: background-color 0.3s;

    vertical-align: middle;

    &--selected {
      background-color: #2563eb;
      color: white;
    }

    &--today {
      font-weight: bold;
      color: #2563eb;
    }

    &:hover {
      background-color: #e0e7ff;
    }
  }
}
