.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;

  padding: 1rem;
  border-radius: 9999px;

  color: black;
  background-color: white;

  .swiper-navigation-icon {
    width: 30px;
    height: 30px;
  }
}
